<h2 id="title">Dan Is Wrong</h2>

APPLICATION
{{liquid-outlet}}

<nav>
  {{#link-to "uncle"}}Uncle{{/link-to}}
  {{#link-to "parent"}}Parent{{/link-to}}
  {{#link-to "parent.child"}}Child{{/link-to}}
</nav>
